.coin_info_heading {
  margin: 1rem;
  padding: 0.8rem 0.8rem 0 0.8rem !important;
}

.coin_info_desc {
  margin: 1rem;
  padding: 0 0.8rem 0.8rem 0.8rem !important;
  cursor: pointer;
}

.coin_info_desc a {
  text-decoration: underline !important;
}

.coin_info_desc a:hover {
  color: var(--blue) !important;
}
